.DS_Store
**/package-lock.json
**/node_modules/
app/dist/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
app/test/unit/coverage
app/test/e2e/reports
**/selenium-debug.log
app/firefox_root/
**/GeckoChildCrash*
**/electroshot-config.json
app/pdf
